USE [HackerEarthDB]
GO
/****** Object:  Table [dbo].[arth_hotels]    Script Date: 12/16/2018 11:25:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[arth_hotels](
	[address] [varchar](300) NULL,
	[categories] [varchar](300) NULL,
	[city] [varchar](300) NULL,
	[country] [varchar](300) NULL,
	[latitude] [varchar](300) NULL,
	[longitude] [varchar](300) NULL,
	[name] [varchar](300) NULL,
	[postalCode] [varchar](300) NULL,
	[province] [varchar](300) NULL,
	[reviews_rating] [varchar](300) NULL,
	[reviews_text] [varchar](300) NULL,
	[reviews_title] [varchar](300) NULL,
	[reviews_username] [varchar](300) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_arth_hotel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[arth_hotels] ON 

INSERT [dbo].[arth_hotels] ([address], [categories], [city], [country], [latitude], [longitude], [name], [postalCode], [province], [reviews_rating], [reviews_text], [reviews_title], [reviews_username], [id]) VALUES (N'1932 Lima Sandusky Rd', N'Lodging,Corporate Lodging,Hotels', N'Sandusky', N'US', N'41.44144', N'-82.79705', N'Howard Johnson', N'44870', N'Bloomingville', N'0', N'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx', N'', N'xxxxxxxxxxxxxx', 1)
INSERT [dbo].[arth_hotels] ([address], [categories], [city], [country], [latitude], [longitude], [name], [postalCode], [province], [reviews_rating], [reviews_text], [reviews_title], [reviews_username], [id]) VALUES (N'2700 S Country Club Rd', N'Hotels', N'El Reno', N'US', N'35.50517', N'-97.97284', N'Days Inn El Reno Ok', N'73036', N'OK', N'3', N'Room looked to be in disrepair, bathroom door didn''t shut without force. The hostess was very unprofessional with her stars and bar finger nails.', N'Hotels not bad, but not for an extended stay.', N'Stephen', 2)
INSERT [dbo].[arth_hotels] ([address], [categories], [city], [country], [latitude], [longitude], [name], [postalCode], [province], [reviews_rating], [reviews_text], [reviews_title], [reviews_username], [id]) VALUES (N'23525 N E Halsey St', N'Hotels,Lodging', N'Troutdale', N'US', N'45.53678', N'-122.42104', N'Gresham Area Hotels', N'97060', N'OR', N'0', N'to share your opinion of this businesswith YP visitors across the United Statesand in your neighborhood', N'', N'write a review', 3)
SET IDENTITY_INSERT [dbo].[arth_hotels] OFF
